﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PaginaMaestra/Admin.Master" AutoEventWireup="true" CodeBehind="PresentacionAdmin.aspx.cs" Inherits="PegasoTravel.Administrar.Principal.PresentacionAdmin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph_cabecera" runat="server">
    <link href="../../CSS/styles.css" rel="stylesheet" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cph_contenido" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <br />            <br />         
            <table border="0" width="auto" align="center">
                <tr>
                    <td align="left">
                        <asp:Image ID="Image1" ImageUrl="~/Images/logo pegaso.jpeg" runat="server" Height="137px" Width="240px" />
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <br />
                        <br />
                       
                        <p style="width: 572px; font-size: 18px; text-align: justify;color:#122931" >PEGASO TRAVEL fue fundada en el año 2013 con el principal objetivo de prestar un servicio que supere las expectativas de los turistas en términos de &quot;calidad e innovación&quot;. Con más de 15 años en el mercado turístico, sus socios unieron su experiencia, conocimiento, el amor de sus carreras y el buen humor para ofrecer una nueva imagen del verdadero servicio de una Agencia de Viajes.</p>

                    </td>

                </tr>
            </table>

            <br />
            <br />
            <br />
            <br />
            <br />



        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>
